<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Permissions for camera and storage -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!-- For Android 10 and above, WRITE_EXTERNAL_STORAGE permission is handled differently -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:targetApi="28" />

    <!-- For Android 11 and above, use the scoped storage model instead of direct access to the filesystem -->
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        android:maxSdkVersion="29" />

    <!-- Minimum and Target SDK version -->
    <uses-sdk
        android:minSdkVersion="21"
        android:targetSdkVersion="33" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Kulit"
        tools:targetApi="33">

        <!-- MainActivity definition -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.Kulit">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Add ResultActivity if needed -->
        <activity android:name=".ResultActivity"
            android:exported="true"
            android:theme="@style/Theme.Kulit" />

    </application>

</manifest>
